/*csslint ids: false*/

a {
    text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-image: url(http://p1.pichost.me/i/75/1999031.jpg);
}

#wrapper {
    /*  Max width is related to width. But instead of width, max-width that it can be smaller for mobile devices/ tablest  */
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
}

header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}

#logo {
    text-align: center;
    margin: 0;
}

h1 {
    font-family: 'Arimo', sans-serif;
    margin: 15px 0;
    font-size: 1.75em;
}

h2 {
    font-size: 0.75em;
    /*1st value is for top. 2nd value is for left and right. 3rd valueis for the bottom*/
    margin: -5px 0 0;
    font-weight: normal;
}

h3 {
    margin: 0 0 1em 0;
}


/*********************************************************
Navigation
*********************************************************/

nav {
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}

nav ul {
    list-style: none;
    padding: 10px 0;
    margin: 0 10px;
}

nav li {
    display: inline-block;
}

nav a {
    font-weight: 600;
    padding: 15px 10px;
}


/*********************************************************
Footer
*********************************************************/

.social-media {
    margin: 0 5 px
}

footer {
    font-size: 0.75em;
    text-align: center;
    padding-top: 50px;
    color: #ccc;
    clear: both;
}

.bmw {
    border: 1px solid black;
    box-shadow: 10px 10px 5px grey;
}


/*********************************************************
Page Portfolio
*********************************************************/

#gallery {
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li {
    float: left;
    width: 45%;
    margin: 2.5%;
    text-align: center;
    color: black;
}

#gallery li a p {
    margin: 0;
    padding: 5%;
    font-size: 0.75em;
    color: red;
}


/*********************************************************
About me page
*********************************************************/

.profile-photo {
    display: block;
    max-width: 0 auto 30px;
    border-radius: 15%;
}


/*********************************************************
Contact Page
*********************************************************/

.contact-info {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}

.contact-info a {
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}

.contact-info li.mail a {
    background-image: url('../img/mail.png')
}

.contact-info li.twitter a {
    background-image: url('../img/Twitter.png')
}


/*********************************************************
Colors
*********************************************************/

body {
    background-color: white;
    color: #999;
}

a {
    color: blue;
}

img {
    max-width: 100%;
}

header {
    background: none;
}

h1,
h2 {
    color: whitesmoke;
}

nav {
    background-color: red;
}


/*pseudo class*/

nav a,
nav a:visited {
    color: white;
}

nav a.selected,
nav a:hover {
    color: grey;
    color: grey;
}


/*********************************************************
Media Queries
*********************************************************/

@media screen and (min-width: 480px) {
    #primary {
        width: 50%;
        float: left;
    }
    #secondary {
        width: 40%;
        float: right;
    }
    /* Three Colum LayoutPortfolio */
    #gallery li {
        width: 28.3333%;
    }
    #gallery li:nth-child(4n) {
        clear: left;
    }
    .profile-photo {
        float: left;
        margin: 0 5% 80px 0;
    }
}

@media screen and (min-width: 660px) {
    nav {
        background: none;
        float: right;
        font-size: 1.25em;
        margin-right: 5%;
        text-align: right;
        width: 45%;
    }
    #logo {
        float: left;
        margin-left: 5%;
        text-align: left;
        width: 45%;
    }
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 0.825em;
        margin-bottom: 20px;
    }
    header {
        border-bottom: 5px solid black;
        margin-bottom: 60px;
    }
}